streamlit>=1.37.0
openai
chromadb
langchain
langchain-text-splitters
azure-ai-formrecognizer
azure-core
numpy
sentence-transformers
scikit-learn
pandas
matplotlib
pyvis==0.3.2
networkx>=2.8
stvis
